In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
cd REDMET

[Errno 2] No such file or directory: 'REDMET'
/home/alberto/Documentos/Proyecto_Mineria

In [3]:
ls

cat_estacion.csv             Datos_dia.ipynb            HISTORICO/
Concatenacion _Global.ipynb  Datos_para_entrenar.ipynb  Limpieza_dia.ipynb
Concatenacion.ipynb          Datos_Procedados/          Limpieza_hora.ipynb
Datos/                       Fotos/                     Modelos/

cd

In [4]:
ruta = ( '/home/alberto/Documentos/Proyecto_Mineria/Datos/RAMA/CO/')

In [5]:
lst_arch = sorted([x for x in os.listdir(ruta) if x.startswith('20')])

In [6]:
lst_arch

['2008CO.xls',
 '2009CO.xls',
 '2010CO.xls',
 '2011CO.xls',
 '2012CO.xls',
 '2013CO.xls',
 '2014CO.xls',
 '2015CO.xls',
 '2016CO.xls',
 '2017CO.xls']

In [7]:
%%time
os.chdir(ruta)
for i,arch in enumerate(lst_arch):
    print arch
    aux = pd.read_excel(arch).drop_duplicates()
    aux.replace(99,-99, inplace=True)
    aux = aux.replace(-99, np.nan)
    Prom=aux.mean(axis=1)
    Max=aux.max(axis=1)
    Min=aux.min(axis=1)
    aux.eval("Prom= @Prom.values", inplace=True)
    aux.eval("Min= @Min.values", inplace=True)
    aux.eval("Ma = @Max.values", inplace=True)
    aux = aux[['HORA','FECHA','Prom','Min','Max']].copy()
    df1.eval("e = @e.values", inplace=True)

    if i == 0:
        f = aux.copy()
    else:
        f = pd.concat([f,aux],ignore_index=True).drop_duplicates()

2008CO.xls
2009CO.xls
2010CO.xls
2011CO.xls
2012CO.xls
2013CO.xls
2014CO.xls
2015CO.xls
2016CO.xls
2017CO.xls
CPU times: user 16.2 s, sys: 296 ms, total: 16.5 s
Wall time: 16.4 s

In [8]:
f.head()

   HORA      FECHA      Prom  Min  Max
0     1 2008-01-01  1.076471  0.2  2.4
1     2 2008-01-01  1.388235  0.3  2.5
2     3 2008-01-01  1.823529  0.4  3.3
3     4 2008-01-01  2.147059  0.4  4.0
4     5 2008-01-01  2.155556  0.5  5.0

In [9]:
f['FECHA'].describe()

count                   87672
unique                   3653
top       2013-12-22 00:00:00
freq                       24
first     2008-01-01 00:00:00
last      2017-12-31 00:00:00
Name: FECHA, dtype: object

In [10]:
%%time
f.to_excel('Datos_2008_2017_CO.xlsx')

CPU times: user 40.5 s, sys: 460 ms, total: 40.9 s
Wall time: 40.9 s