In [19]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [6]:
ls

cat_estacion.csv     Datos_para_entrenar.ipynb  Limpieza_dia.ipynb
Concatenacion.ipynb  Datos_Procedados/          Limpieza_hora.ipynb
Datos/               Fotos/                     Modelos/
Datos_dia.ipynb      HISTORICO/

In [7]:
cd HISTORICO

/home/alberto/Documentos/Proyecto_Mineria/HISTORICO

In [8]:
ls

Datos_2008_2017_CO.xlsx    Datos_Por_Dia_2008_2017_CO.xlsx
Datos_2008_2017_NO.xlsx    Datos_Por_Dia_2008_2017_NO.xlsx
Datos_2008_2017_O3.xlsx    Datos_Por_Dia_2008_2017_O3.xlsx
Datos_2008_2017_PM10.xlsx  Datos_Por_Dia_2008_2017_PM10.xlsx
Datos_2008_2017_PM25.xlsx  Datos_Por_Dia_2008_2017_PM25.xlsx
Datos_2008_2017_RH.xlsx    Datos_Por_Dia_2008_2017_RH.xlsx
Datos_2008_2017_TMP.xlsx   Datos_Por_Dia_2008_2017_TMP.xlsx
Datos_2008_2017_WDRP.xlsx  Datos_Por_Dia_2008_2017_WDRP.xlsx
Datos_2008_2017_WSP.xlsx   Datos_Por_Dia_2008_2017_WSP.xlsx

In [12]:
df = pd.read_excel('/home/alberto/Documentos/Proyecto_Mineria/HISTORICO/Datos_2008_2017_TMP.xlsx')

In [13]:
df.head()

       FECHA       Prom  Min   Max
0 2008-01-01  11.200000  7.2  13.6
1 2008-01-01  10.158333  5.4  12.7
2 2008-01-01   9.333333  5.0  11.3
3 2008-01-01   8.541667  4.5  10.5
4 2008-01-01   8.083333  3.8  10.7

In [24]:
df.describe()

               Prom           Min           Max
count  87659.000000  87659.000000  87659.000000
mean      16.399940     12.512180     18.771304
std        4.807033      5.350998      4.987719
min       -0.123077     -5.500000      1.400000
25%       13.250000      9.100000     15.300000
50%       15.860000     12.300000     18.100000
75%       19.891667     16.100000     22.400000
max       31.700000     30.100000     34.400000

In [66]:
#HORA=[]
#for i in range(87659):
#    HORA.append(i)

In [67]:
#hora = pd.DataFrame(HORA)

In [69]:
#hora.describe

<bound method DataFrame.describe of            0
0          0
1          1
2          2
3          3
4          4
5          5
6          6
7          7
8          8
9          9
10        10
11        11
12        12
13        13
14        14
15        15
16        16
17        17
18        18
19        19
20        20
21        21
22        22
23        23
24        24
25        25
26        26
27        27
28        28
29        29
...      ...
87629  87629
87630  87630
87631  87631
87632  87632
87633  87633
87634  87634
87635  87635
87636  87636
87637  87637
87638  87638
87639  87639
87640  87640
87641  87641
87642  87642
87643  87643
87644  87644
87645  87645
87646  87646
87647  87647
87648  87648
87649  87649
87650  87650
87651  87651
87652  87652
87653  87653
87654  87654
87655  87655
87656  87656
87657  87657
87658  87658

[87659 rows x 1 columns]>