In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ls

cat_estacion.csv     Datos_dia.ipynb    HISTORICO/           Modelos/
Concatenacion.ipynb  Datos_Procedados/  Limpieza_dia.ipynb
Datos/               Fotos/             Limpieza_hora.ipynb

In [3]:
cd HISTORICO

/home/alberto/Documentos/Proyecto_Mineria/HISTORICO

In [4]:
ls

Datos_2008_2017_CO.xlsx    Datos_Por_Dia_2008_2017_CO.xlsx
Datos_2008_2017_NO.xlsx    Datos_Por_Dia_2008_2017_NO.xlsx
Datos_2008_2017_O3.xlsx    Datos_Por_Dia_2008_2017_O3.xlsx
Datos_2008_2017_PM10.xlsx  Datos_Por_Dia_2008_2017_PM10.xlsx
Datos_2008_2017_PM25.xlsx  Datos_Por_Dia_2008_2017_PM25.xlsx
Datos_2008_2017_RH.xlsx    Datos_Por_Dia_2008_2017_TMP.xlsx
Datos_2008_2017_TMP.xlsx   Datos_Por_Dia_2008_2017_WDRP.xlsx
Datos_2008_2017_WDRP.xlsx  Datos_Por_Dia_2008_2017_WSP.xlsx
Datos_2008_2017_WSP.xlsx

In [5]:
df = pd.read_excel('/home/alberto/Documentos/Proyecto_Mineria/HISTORICO/Datos_2008_2017_RH.xlsx')

In [6]:
df.head()

       FECHA       Prom   Min   Max
0 2008-01-01  44.076923  31.0  54.0
1 2008-01-01  46.769231  35.0  62.0
2 2008-01-01  48.153846  38.0  67.0
3 2008-01-01  50.000000  39.0  72.0
4 2008-01-01  52.384615  40.0  73.0

In [7]:
df['FECHA'].describe()

count                   87572
unique                   3653
top       2013-12-22 00:00:00
freq                       24
first     2008-01-01 00:00:00
last      2017-12-31 00:00:00
Name: FECHA, dtype: object

In [8]:
g1 = df.groupby( [ "FECHA" ]).mean()

In [9]:
g1.head()

                 Prom        Min        Max
FECHA
2008-01-01  54.929487  46.666667  69.625000
2008-01-02  62.519841  56.541667  75.875000
2008-01-03  60.767857  54.250000  69.166667
2008-01-04  59.466346  51.791667  68.708333
2008-01-05  48.160714  38.291667  57.791667

In [10]:
g1.describe()

              Prom          Min          Max
count  3653.000000  3653.000000  3653.000000
mean     55.041348    44.821587    69.099222
std      15.344530    14.738991    16.725851
min      11.811048     6.750000    15.125000
25%      43.786996    33.666667    57.625000
50%      56.520833    46.041667    71.666667
75%      67.073243    56.083333    82.375000
max      97.143254    90.625000   100.000000

In [11]:
%%time
g1.to_excel('Datos_Por_Dia_2008_2017_RH.xlsx')

CPU times: user 1.5 s, sys: 40 ms, total: 1.54 s
Wall time: 1.56 s