In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ls

cat_estacion.csv             Datos_para_entrenar.ipynb  Limpieza_hora.ipynb
Concatenacion _Global.ipynb  Datos_Procedados/          Limpieza_Tratar.ipynb
Concatenacion.ipynb          Fotos/                     Modelos/
Datos/                       HISTORICO/
Datos_dia.ipynb              Limpieza_dia.ipynb

In [7]:
cd Datos_Procesados_Hora

/home/alberto/Documentos/Proyecto_Mineria/Datos/RAMA/Datos_Procesados_Hora

In [8]:
ls

Datos_2008_2017_CO.xlsx   Datos_2008_2017_NOX.xlsx   Datos_2008_2017_PM25.xlsx
Datos_2008_2017_NO2.xlsx  Datos_2008_2017_O3.xlsx    Datos_2011_2017_PMCO.xlsx
Datos_2008_2017_NO.xlsx   Datos_2008_2017_PM10.xlsx  Datos_2011_2017_SO2.xlsx

cd

In [9]:
ruta = ( '/home/alberto/Documentos/Proyecto_Mineria/Datos/RAMA/Datos_Procesados_Hora')

In [28]:
df = pd.read_excel('/home/alberto/Documentos/Proyecto_Mineria/Datos/RAMA/Datos_Procesados_Hora/Datos_2008_2017_NO.xlsx')

In [27]:
df.head(24)

    HORA      FECHA       Prom  Min  Max
0      1 2008-01-01  31.058824    1   41
1      2 2008-01-01  31.117647    2   41
2      3 2008-01-01  32.000000    3   46
3      4 2008-01-01  31.470588    4   45
4      5 2008-01-01  29.764706    5   41
5      6 2008-01-01  27.823529    6   38
6      7 2008-01-01  26.588235    6   38
7      8 2008-01-01  26.058824    7   36
8      9 2008-01-01  24.705882    6   46
9     10 2008-01-01  11.647059    4   23
10    11 2008-01-01   7.647059    3   15
11    12 2008-01-01   6.000000    0   14
12    13 2008-01-01   5.176471    1   13
13    14 2008-01-01   6.312500    1   14
14    15 2008-01-01   7.000000    1   15
15    16 2008-01-01   8.647059    3   17
16    17 2008-01-01   9.812500    6   17
17    18 2008-01-01  12.411765    6   21
18    19 2008-01-01  13.235294    6   19
19    20 2008-01-01  13.529412    6   20
20    21 2008-01-01  14.000000    6   21
21    22 2008-01-01  13.882353    5   22
22    23 2008-01-01  12.823529    4   23
23    24 2008-01-01  10.529412    3   24

In [ ]:
lst_arch = sorted([x for x in os.listdir(ruta) if x.startswith('20')])

In [ ]:
lst_arch

In [ ]:
%%time
os.chdir(ruta)
for i,arch in enumerate(lst_arch):
    print arch
    aux = pd.read_excel(arch).drop_duplicates()
    aux.replace(99,-99, inplace=True)
    aux = aux.replace(-99, np.nan)
    Prom=aux.mean(axis=1)
    Max=aux.max(axis=1)
    Min=aux.min(axis=1)
    aux.eval("Min= @Min.values", inplace=True)
    aux.eval("Max= @Max.values", inplace=True)
    aux.eval("Prom = @Prom.values", inplace=True)
    aux = aux[['HORA','FECHA','Prom','Min','Max']].copy()
    if i == 0:
        f = aux.copy()
    else:
        f = pd.concat([f,aux],ignore_index=True).drop_duplicates()

In [ ]:
f.head()

In [ ]:
f['FECHA'].describe()

In [ ]:
%%time
f.to_excel('Datos_2008_2017_CO.xlsx')