In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ls

cat_estacion.csv     Datos_dia.ipynb    HISTORICO/           Modelos/
Concatenacion.ipynb  Datos_Procedados/  Limpieza_dia.ipynb
Datos/               Fotos/             Limpieza_hora.ipynb

In [3]:
cd Datos_Procedados

/home/alberto/Documentos/Proyecto_Mineria/Datos_Procedados

In [4]:
ruta = ( '/home/alberto/Documentos/Proyecto_Mineria/Datos_Procedados/RH/')

In [5]:
lst_arch = sorted([x for x in os.listdir(ruta) if x.startswith('Datos')])

In [6]:
lst_arch

['Datos_2008RH.xlsx',
 'Datos_2008_2017_RH.xlsx',
 'Datos_2009RH.xlsx',
 'Datos_2010RH.xlsx',
 'Datos_2011RH.xlsx',
 'Datos_2012RH.xlsx',
 'Datos_2013RH.xlsx',
 'Datos_2014RH.xlsx',
 'Datos_2015RH.xlsx',
 'Datos_2016RH.xlsx',
 'Datos_2017RH.xlsx']

In [7]:
%%time
os.chdir(ruta)
for i,arch in enumerate(lst_arch):
    print arch
    aux = pd.read_excel(arch).drop_duplicates()
    aux.replace(99,-99, inplace=True)
    
    if i == 0:
        f = aux.copy()
    else:
        f = pd.concat([f,aux],ignore_index=True).drop_duplicates()

Datos_2008RH.xlsx
Datos_2008_2017_RH.xlsx
Datos_2009RH.xlsx
Datos_2010RH.xlsx
Datos_2011RH.xlsx
Datos_2012RH.xlsx
Datos_2013RH.xlsx
Datos_2014RH.xlsx
Datos_2015RH.xlsx
Datos_2016RH.xlsx
Datos_2017RH.xlsx
CPU times: user 20.1 s, sys: 132 ms, total: 20.2 s
Wall time: 20.1 s

In [8]:
f.head()

       FECHA       Prom   Min   Max
0 2008-01-01  44.076923  31.0  54.0
1 2008-01-01  46.769231  35.0  62.0
2 2008-01-01  48.153846  38.0  67.0
3 2008-01-01  50.000000  39.0  72.0
4 2008-01-01  52.384615  40.0  73.0

In [9]:
f['FECHA'].describe()

count                   87572
unique                   3653
top       2013-12-22 00:00:00
freq                       24
first     2008-01-01 00:00:00
last      2017-12-31 00:00:00
Name: FECHA, dtype: object

In [10]:
%%time
f.to_excel('Datos_2008_2017_RH.xlsx')

CPU times: user 34.8 s, sys: 384 ms, total: 35.2 s
Wall time: 35.1 s